<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a</string>
	<string>k</string>
	<string>s</string>
	<string>t</string>
	<string>n</string>
	<string>h</string>
	<string>m</string>
	<string>y</string>
	<string>r</string>
	<string>w</string>
</array>
</plist>
